 .graficos{
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
 }
 .canvas_grafico{
     height: 80%;
     width: 50%;
 }
 .graph{
    width: 90%;
    border: 2px solid yellow;
 }

 .quadrado_grafico{
   background-color: rgba(0, 0, 0, 0.8);

   width: 95%;
   height: 95%;
   border: yellow 3px solid;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 15px;
   color: white;
   font-size: 25px;
}

.google{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 30px;
   width: 50vw;
   border: 2px solid yellow;
}