@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=VT323&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;
  background-color: black;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.container img{
  display: flex;
  align-items: flex-start;
  height: 80px;
}

.header {
  height: 80px;
  border-bottom: 3px solid blue ;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: rgb(245, 248, 39);
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #ff0000;
}


.titulo {
  display: flex;
  color: #3268cd;
  width: fit-content;
  font-weight: 500;
  justify-content: flex-start;
}

/* INDEX */

.quadrado{
background-color: rgba(0, 0, 0, 0.6);
margin-top: -40px;
width: 1300px;
height: 600px;
border: yellow 3px solid;
display: flex;
flex-direction: row;
justify-content: space-between;
border-radius: 15px;
}

.quadrado2{
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: -40px;
  margin-left: 50px;
  width: 550px;
  height: 600px;
  border: yellow 3px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 15px;
  color: white;
  font-size: 25px;
  flex-wrap: wrap;
  }

.conteudo{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px white solid;
  border-radius: 5px;
  color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.imagem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* BANNER */

.banner {
  height: 610px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: 100vmax;
}

.banner .container {
  height: 400px;
  font-size: 36px;
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo { 
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}
/* FOOTER */

.footer {
  background-color: #ffffff;
  border: 2px blue solid;
  height: 69px;
  color: rgb(26, 40, 245);
  display: flex;
  font-size: 40px;
}

.footer2{
  width: 1000px;
  margin-left: 340px;
  margin-top: 6px;
  font-weight: 800;
}

.footer.containerr {
  justify-content: right;
  margin-left: 120px;
}


/* LOGIN */

.banner .container .card {
  background-color: black;
  margin-top: -125px;
  margin-left: 20px;
  height: 540px;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  border: yellow solid 3px;
  border-radius: 20px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: black;
  color: white;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: yellow 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 500 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

#medio h2{
  margin-top: -10px;
}

#formulario2{
  margin-top: -50px;
}

#card2{
  height: 350px;
}

input {
  margin-bottom: 10px;
  border: 2px solid blue;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

 select { 
  margin-bottom: 10px;
  border: 2px solid blue;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
} 

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: red;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.placeholder{
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
  justify-content: center;
}

.loading-div img {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid blue;
  
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: blue;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: yellow;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: red;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid blue;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: red;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: blue;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: yellow;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid yellow;
  /* creates padding around scroll thumb */
}

.right-square{
  margin-left: 25%;
  height: 615px;
  width: 74.5%;
  border: blue 3px solid;
  background-image: url('../assets/imgs/noticias-background.jpg');
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.noticias{
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: 50px;
    width: 75%;
    height: 85%;
    border: yellow 3px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    flex-wrap: wrap;
}

.jogar{
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 50px;
  width: 75%;
  height: 85%;
  border: yellow 3px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 25px;
  flex-wrap: wrap;
}